@{
    ViewData["Title"] = "Home page";
}

<h1>Search Details</h1>

<form method="get" asp-area="" asp-controller="Home" asp-action="Index" >
    <div class="form-group">
        <div class="input-group">
            <input name="SearchTerm" type="search" class="form-control" />
            <button class="btn btn-dark">Ok</button>
        </div>
    </div>
</form>

@if (Model.SearchTerm != null)
{
    <p class="text-center"><b>Answer</b></p>
    <table class="table">
        @foreach (var response in Model.ResponseList)
        {
            <tr>
                <td>
                    @response
                </td>
            </tr>
        }
    </table>
}
